/* Configure font-friendly for all elements on the page */
.font-modern {
  font-family:Poppins,sans-serif;
}

/* Other fonts to configure (maybe in the future) */
/*.font-elegant *{font-family:Montserrat,sans-serif}.font-elegant .bold,.font-elegant .heading,.font-elegant .heading-lrg,.font-elegant .heading-sml{font-family:Spectral,serif}.font-friendly *{font-family:Montserrat,sans-serif}.font-hacker *{font-family:'Roboto Mono',monospace}.font-hacker .heading,.font-hacker .heading-lrg,.font-hacker .heading-sml{font-family:Roboto,sans-serif}.font-modern *{font-family:Poppins,sans-serif}.font-modern .heading,.font-modern .heading-lrg,.font-modern .heading-sml{font-weight:300}.font-neutral *{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"}.font-serious *{font-family:Montserrat,sans-serif}.font-serious .bold,.font-serious .heading,.font-serious .heading-lrg,.font-serious .heading-sml{font-family:Eczar,serif}* */

/* Logo */
a.logo {
  text-decoration: none;
}

/* Button links in navigation bar */
a.nav-button {
  text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
/* .nav-link.active { */
  background-color: #353740;
}

/* Make sure headers are bold (unlike in Bootstrap, where font-weight:500 */
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  font-weight:700;
}

/* Container sizes */
.container,.container-lrg,.container-sml {
  margin:auto;
  position:relative;
  width:100%
}
.container-lrg {
  max-width:1000px
}
.container {
  max-width:780px
}
.container-sml {
  max-width:470px
}
.section {
  padding:60px 0;
  overflow:hidden;
  position:relative
}

/* Testimonials */
.testimonial {
  min-height: 180px;
}

.testimonial cite {
  display: block;
  overflow: hidden;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1200px) {
  .testimonial {
    min-height: 220px;
  }
}

.testimonial__portrait {
  display: block;
  width: 25%;
  max-width: 50px;
  float: left;
}

.testimonial__portrait img {
  border-radius: 100%;
  width: 100%;
  height: auto;
}

.testimonial__details {
  display: block;
  width: 75%;
  padding-left: 15px;
  float: left;
  margin-top: 1rem;
}

.testimonial__name {
  font-style: normal;
}

.testimonial__source {
  font-style: normal;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.428571429;
  color: #777777;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}

.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}

.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.pricing-plan .card-header {
  text-align: center;
}

.pricing-plan .card-title {
  text-align: center;
}

.pricing-plan .plan-contents i.fa.fa-check {
  color: #3ad2ad;
  /* float: left; */
}

.pricing-plan li abbr a {
  color: #01d8fd;
}

.pricing-plan .plan-contents li {
  padding:5px 10px;
  font-size:15px;
  letter-spacing: -0.2px;
  border-bottom:1px solid #eee;
  line-height:1.5;
}

.pricing-plan button a {
  text-decoration: none;
}